############################
###> nginx configuration ###

NGINX_PORT=8080

###< nginx configuration ###
############################


##########################
###> php configuration ###

# php version
# ie: 7.1, 7.2, 7.3 and 7.4
PHP_VERSION=7.4

# php fpm expose port
PHP_FPM_PORT=9000

# make sure xdebug (IDE) listens to PHP_FPM_PORT
PHP_ENABLE_XDEBUG=0

###< php configuration ###
##########################


#############################
###> nodejs configuration ###

# node version
# ie: 10.x, 11.x, 12.x, 13.x, 14.x or any valid version
NODE_VERSION=14.x

###< nodejs configuration ###
#############################


##############################
###> mariadb configuration ###
# configure database using mysql://root:root@mariadb:3306/project?serverVersion=mariadb-10.5.5

# mariadb version
# ie: 10.1, 10.2, 10.3, 10.4, 10.5 or 10 or any valid version
MARIADB_VERSION=10

# mariadb expose port
MARIADB_PORT=3306

# host=mariadb
# username=root
MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE_NAME=project

###< mariadb configuration ###
##############################


#################################
###> phpmyadmin configuration ###

PHPMYADMIN_PORT=8180

###< phpmyadmin configuration ###
#################################
